{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('competence_index') }}">Back to the list</a>
    <div class="col-12 col-md-6 col-lg-4">
        {{ form_start(form, {'attr':{'class':'flex-column'}}) }}
        {% if competence.logo is defined and competence.logo is not null %}
            <img src="{{ asset('uploads/competences/' ~ competence.logo) }}" alt="Logo">
        {% endif %}
        {{ form_row(form.logo, {'attr': {'class':''}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        <input type="submit" value="Save"/>
        {{ form_end(form) }}
        {% if delete_form is defined %}
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        {% endif %}
    </div>
{% endblock %}