{% set standalone = standalone ?? false %}
{% extends standalone ? 'base.html.twig' : 'null.html.twig' %}

{% block body %}
    <div class="col-12 col-md-6 col-lg-4 top-buffer competenties-item">
        <div class="new-image competenties-circle"
             data-img="logo_icon"
             data-input="appbundle_competence_logo"
             data-path="{{ path('competence_new') }}">
            <i id="logo_icon" class="fa fa-plus"></i>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Save"/>
        {{ form_end(form) }}
    </div>
    {% if delete_form is defined %}
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}