{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <img src="{{ asset('uploads/competences/' ~ competence.logo) }}" alt="Logo">
    <input type="submit" value="Save"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('competence_index') }}">Back to the list</a>
        </li>
        {% if delete_form is defined %}
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}