{% set standalone = standalone ?? false %}
{% extends standalone ? 'base.html.twig' : 'null.html.twig' %}

{% block body %}

    <div class="col-12 col-md-6 col-lg-4 top-buffer">
        <span class="competenties-circle">
            <input type="file" id="logo_{{ iter }}" style="display: none;">
            <img class="edit-image"
                 data-target="logo_{{ iter }}"
                 data-path="{{ path('competence_edit', {'id':competence.id}) }}"
                 src="{{ asset('img/Rolling.gif') }}"
                 data-src="{{ asset('uploads/competences/' ~ competence.logo) }}"
                 alt="{{ competence.name }}">
        </span>
        <h4 {% if editor %}
            data-type="name"
            data-path="{{ path('competence_edit', {'id':competence.id}) }}"
        {% endif %} class="service-heading{{ editor ? ' editable' }}">{{ competence.name }}</h4>
        <p {% if editor %}
            data-type="description"
            data-path="{{ path('competence_edit', {'id':competence.id}) }}"
        {% endif %} class="text-muted{{ editor ? ' editable' }}">{{ competence.description }}</p>
    </div>

{% endblock %}