{% for portfolio in portfolios %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ portfolio.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{ portfolio.title }}</h2>
                            <p class="item-intro text-muted">{{ portfolio.subtitle }}</p>
                            {% for item in portfolio.items %}
                                {{ item|portfoliotype(item.type,item.name)|raw }}
                            {% endfor %}
                            <div class="holder" style="display: none"></div>
                            <div class="addition">
                                <button data-path="{{ path('modalitem_portfolio_new', {'id':portfolio.id}) }}" data-portfolio="{{ portfolio.id }}" data-type="image">image</button>
                                <button data-path="{{ path('modalitem_portfolio_new', {'id':portfolio.id}) }}" data-portfolio="{{ portfolio.id }}" data-type="link">link</button>
                                <button data-path="{{ path('modalitem_portfolio_new', {'id':portfolio.id}) }}" data-portfolio="{{ portfolio.id }}" data-type="paragraph">paragraph</button>
                                <button data-path="{{ path('modalitem_portfolio_new', {'id':portfolio.id}) }}" data-portfolio="{{ portfolio.id }}" data-type="video">video</button>
                            </div>
                            <div class="hidden">
                                {% include ':portfolio:addition.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
