{% set standalone = standalone ?? false %}
{% extends standalone ? 'base.html.twig' : 'null.html.twig' %}

{% block body %}
    <li {% if iter is defined and iter % 2 == 0 %}class="timeline-inverted"{% endif %}>
        <div class="timeline-image">
            <img class="img-circle img-responsive"
                 src="{{ asset('img/Rolling.gif') }}"
                 data-src="{{ asset('uploads/timeline/' ~ timeline.logo) }}"
                 alt="{{ timeline.logo }}">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>{{ timeline.beginDate|localdate('nl', 'F Y') }}{% if timeline.endDate is not null %}
                        - {{ timeline.endDate|localdate('nl', 'F Y') }}{% endif %}</h4>
                <div class="subheading">
                    {% if editor %}
                        <h5 data-type="employer"
                            data-path="{{ path('timeline_edit', {'id':timeline.id}) }}"
                            class="editable"
                        >{{ timeline.employer }}</h5>
                        <span>&nbsp;-&nbsp;</span>
                        <h5 data-type="employer"
                            data-path="{{ path('timeline_edit', {'id':timeline.id}) }}"
                            class="editable"
                        >{{ timeline.function }}</h5>
                    {% else %}
                        <h5>{{ timeline.employer }} - {{ timeline.function }}</h5>
                    {% endif %}
                </div>
            </div>
            <div class="timeline-body">
                <p {% if editor %}
                        data-type="description"
                        data-path="{{ path('timeline_edit', {'id':timeline.id}) }}"
                {% endif %} class="text-muted{{ editor ? ' editable' }}">{{ timeline.description }}</p>
            </div>
        </div>
    </li>
{% endblock %}
