{% set standalone = standalone ?? false %}
{% extends standalone ? 'base.html.twig' : 'null.html.twig' %}

{% block body %}
    {% set iter = iter ?? 0 %}
    <li {% if iter is defined and iter % 2 == 0 %}class="timeline-inverted"{% endif %}>
        <div class="timeline-image new-image"
             data-img="timeline_icon"
             data-input="appbundle_timeline_logo"
             data-path="{{ path('timeline_new') }}">
            <i id="timeline_icon" class="fa fa-plus"></i>
        </div>
        <div class="timeline-panel">
            {{ form_start(form) }}
            <div class="timeline-heading">
                <div class="subheading">
                    {{ form_widget(form.beginDate.day,{'attr': { 'style': 'display:none' }}) }}
                    {{ form_widget(form.endDate.day,{'attr': { 'style': 'display:none' }}) }}
                    {{ form_widget(form.beginDate) }}<h4 class="d-inline"> - </h4>{{ form_widget(form.endDate) }}
                    <br/>
                    <br/>
                    {{ form_widget(form.employer, {'attr':{'style':'width:45%;'}}) }} - {{ form_widget(form.function, {'attr':{'style':'width:45%;'}}) }}
                    <br/>
                </div>
            </div>
            <div class="timeline-body" style="margin-top: 15px;">
                {{ form_widget(form.description) }}
            </div>
            <input type="submit" value="Save">
            {{ form_end(form) }}
        </div>
    </li>
{% endblock %}
